<section id="homeContainer">
	<img src="https://u.teknik.io/gx1NZ.jpg" title="Derivco Logo" alt="Derivco Logo">
	<ul class="top">
		<li class="top"><a href="#introduction">Introduction</a></li>
		<li class="top"><a href="#matches-endpoint">Matches</a></li>
		<li class="top"><a href="#seasons-endpoint">Seasons</a></li>
		<li class="top"><a href="#leagues-endpoint">Leagues</a></li>
		<li class="top"><a href="#results-endpoint">Results</a></li>
		<li class="top"><a href="#format-parameters">Format</a></li>
	</ul>
	<hr>

	<h1 id="api-references">API REFERENCES</h1>
	<p><em>A practical guide to use this simple API.</em></p>
	<h2 id="introduction">Introduction:</h2>
	<p>This API got only few endpoints, each endpoints may have is particularity. This API references will explain how to use each endpoints and describe their action, and parameters.</p>
	<p>All endpoints support their singular version to avoid user error, for example you can use the endpoint Matches with <code>localhost/api/v1/match</code> instead of <code>localhost/api/v1/matches</code>. We will only use the plural routes to refer a endpoint in this API.</p>
	<h2 id="matches-endpoint">Matches endpoint:</h2>
	<p>This endpoint will simply throw a list of all elements present in the database without any special formatting.</p>
	<p>use as follow:</p>
	<pre><code>http://localhost/api/v1/matches</code></pre>
	<p>You can specify the format of response in parameter, it will by default send JSON:</p>
	<pre><code>http://localhost/api/v1/matches?format=json</code></pre>
	<p>To have further informations about <em>format</em> parameters please refer to the format section.</p>
	<h2 id="seasons-endpoint">Seasons endpoint:</h2>
	<p>This endpoint will return a list of Seasons containing an array of associated Leagues.</p>
	<pre><code>{&quot;data&quot;: 
  [
	{
	  &quot;season&quot;: &quot;201516&quot;,
	  &quot;league&quot;: [ SP1, SP2 ...]
	}, {...}
  ]
}</code></pre>
	<p>use as follow:</p>
	<pre><code>http://localhost/api/v1/seasons</code></pre>
	<p>You can specify the format of response in parameter, it will by default send JSON:</p>
	<pre><code>http://localhost/api/v1/seasons?format=json</code></pre>
	<p>To have further informations about <em>format</em> parameters please refer to the format section.</p>
	<h2 id="leagues-endpoint">Leagues endpoint:</h2>
	<p>This endpoint will return a list of Leagues containing an array of associated Seasons.</p>
	<pre><code>{&quot;data&quot;:
  [
	{
	  &quot;leagues&quot;: &quot;liga&quot;,
	  &quot;season&quot;: [ &quot;seasonspair&quot;, &quot;seasonpair&quot;, ...]
	}, {...}
  ]
}</code></pre>
	<p>use as follow:</p>
	<pre><code>http://localhost/api/v1/leagues</code></pre>
	<p>You can specify the format of response in parameter, it will by default send JSON:</p>
	<pre><code>http://localhost/api/v1/leagues?format=json</code></pre>
	<p>To have further informations about <em>format</em> parameters please refer to the format section.</p>
	<h2 id="results-endpoint">Results endpoint:</h2>
	<p>Results endpoint returns a list of game with it’s relative information. It has a lot available parameters so you can find what you need.</p>
	<pre><code>{&quot;data&quot;: 
  [
	{
	  &quot;date&quot;: &quot;dd-mm-yyyy&quot;,
	  &quot;games&quot;: &quot;HomeTeamName - AwayTeamName&quot;,
	  &quot;league&quot;: &quot;LIGA&quot;,
	  &quot;results&quot;: &quot;x - x&quot;,
	  &quot;season&quot;: &quot;seasonpair&quot;,
	  &quot;winner&quot;: &quot;Drawn&quot;
	}, {...}
  ]
}</code></pre>
	<p>use as follow:</p>
	<pre><code>http://localhost/api/v1/results

http://localhost/api/v1/results?home=barcelona&amp;season=201617</code></pre>
	<h4 id="parameters">parameters</h4>
	<p>This endpoint can take a lot of parameters to filter the available results,</p>
	<p>the parameters are combinable, and their values should always be entered in downcase.</p>
	<ul>
		<li><strong>id</strong> - return element with matching id</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?id=5</code></pre>
	<ul>
		<li><strong>league</strong> - return elements with matching league</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?league=sp1</code></pre>
	<ul>
		<li><strong>season</strong> - return elements with matching season pair</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?season=201516</code></pre>
	<ul>
		<li><strong>team</strong> - this parameter will return any games with the given team name. </li>
	</ul>
	<pre><code>http://localhost/api/v1/results?team=barcelona</code></pre>
	<ul>
		<li><strong>home</strong> - this parameter will return any games with the given team name as home team.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?home=barcelona</code></pre>
	<ul>
		<li><strong>away</strong> - this parameter will return any games with the given team name as away team.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?away=west ham</code></pre>
	<ul>
		<li><strong>ftr</strong> - Full Time Result, this is the final result of a game. it can contain the following letter <em>h, a, d</em>, respectively for <em>home, away, drawn</em>.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?ftr=h</code></pre>
	<ul>
		<li><strong>htr</strong> - Half Time Result, this is the result of a game during half time. as <strong>ftr</strong> paramets it can contain the follow letter <em>h, a, d</em>.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?htr=a</code></pre>
	<ul>
		<li><strong>date</strong> - take a formated string to return every games that happen at the given date, the date need to be as follow: <em>day-month-year</em></li>
	</ul>
	<pre><code>http://localhost/api/v1/results?date=dd-mm-yyyy</code></pre>
	<ul>
		<li><strong>fthg</strong> - Full Time Home Goals, find games by numbers of goals of the home team at the end of the game.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?fthg=6</code></pre>
	<ul>
		<li><strong>ftag</strong> - Full Time Away Goals, find games by numbers of goals of the away team at the end of the game.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?ftag=7</code></pre>
	<ul>
		<li><strong>hthg</strong> - Half Time Home Goals, same as <strong>fthg</strong> parameters, but for half times.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?hthg=4</code></pre>
	<ul>
		<li><strong>htag</strong> - Half Time Away Goals, same as <strong>ftag</strong> parameters, but for half times.</li>
	</ul>
	<pre><code>http://localhost/api/v1/results?htag=4</code></pre>
	<h2 id="format-parameters">Format parameters</h2>
	<p>the format parameters let the user choose the response format of the API.</p>
	<p>Currently only two formats are supported:</p>
	<ul>
		<li><strong>JSON</strong></li>
	</ul>
	<pre><code>http://localhost/api/v1/matches?format=json
http://localhost/api/v1/seasons?format=json
http://localhost/api/v1/leagues?format=json
http://localhost/api/v1/results?format=json</code></pre>
	<ul>
		<li><strong>Protocol Buffers</strong></li>
	</ul>
	<pre><code>http://localhost/api/v1/matches?format=protobuf
http://localhost/api/v1/seasons?format=protobuf
http://localhost/api/v1/leagues?format=protobuf
http://localhost/api/v1/results?format=protobuf</code></pre>
	<p>As the http content-type header is set on application/octet-stream, some browser may force you to download the datas when you query it.</p>
	<p>For a more convenient try of this feature I invite you to use curl</p>
	<pre><code>$ curl http://localhost/api/v1/leagues?format=protobuf</code></pre>

</section>
