body {
	overflow-x: hidden;
	background: #142b4dee;
}

.container {
	min-height: 800px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#homeContainer {
	width: 100%;
	padding: 25px;
	border-radius: 3px;
	background: white;
	-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
}

#homeContainer h1 {
	width: 100%;
	text-align: center;
	padding: 10px;
	}

#homeContainer img {
	width: 80%;
	margin-left: 10%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#homeContainer ul.top {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#homeContainer ul.top li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 0.25s ease;
	font-weight: bold;
	color: #142b4d;
}

a:hover {
	text-decoration: underline;
}
